@using boardgames.Models.Responses
@if (DisplayFeedbackMessage)
{
    <div class="alert alert-success alert-dismissable fade show" role="alert">
        @FeedbackMessage
    </div>
}

<div class="container">
    <div class="row">
        @foreach (BoardGameResponse boardgameresponse in Games)
        {
            <GameCardApi Game="boardgameresponse" />
        }
    </div>
</div>