@page "/allGamesApi"

<PageTitle>Game List API</PageTitle>

    <div class="container">
        <div class="row">
            @foreach (BoardGame boardgame in Games)
            {
                <GameCardApi Game="boardgame" />
            }
        </div>
    </div>
