@page "/allGamesApi"
@using boardgames.Models.Responses

<PageTitle>Game List API</PageTitle>

    <div class="container">
        <div class="row">
            @foreach (BoardGameResponse boardgameresponse in Games)
            {
                <GameCardApi Game="boardgameresponse" />
            }
        </div>
    </div>
